.margin-50 {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(70, 0, 128);
}

.btn {
    margin-bottom: 10px;
}

.jumbotron {
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:#e9ecef;
    border-radius:.3rem
}

.hidden {
    display: none;
}

    
@media (min-width:576px) {
    .jumbotron{padding:2rem 1rem}}
    .jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}
    .margin-50{margin-left: 20%;margin-right: 20%